@page "/CreatePost"
@using Assignment2.Data
@using Assignment2.Data.ClientInterfaces
@using Microsoft.AspNetCore.Components
@using Post = DNP1_Server.Utils.Post

@inject PostsService PostsService; 

<div class="post">
    <h3>Create a new post.</h3>
    <div>
        <label>Title:</label>
        <input type="text" @bind="title" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(resultMsg))
                {
                    <label style="color: @color">@resultMsg</label>
                }
    </div> 
    <div>
        <label>Body: </label>
        <input type="text" @bind="body" @bind:event="oninput"/>
        @if (!string.IsNullOrEmpty(resultMsg))
                {
                    <label style="color: @color">@resultMsg</label>
                }
    </div>
    <div class="button-row">
            <button @onclick="Create" disabled="@(string.IsNullOrEmpty(body))" class="submit">Submit</button>
    </div>
</div>

@code {
    private string authorCookie = "";
    private string title = "";
    private string body = "";
    private string resultMsg = "";
    private string color = "";
    
    private async Task Create()
    {
        resultMsg = "";

        try
        {
            await PostsService.CreatePost(new Data.Post(authorCookie, title, body));
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}