@page "/LogoutUser"

@using Microsoft.AspNetCore.Components
@using Assignment2.Authentification
@inject IAuthManager _authManager;

<h3>Logout User</h3>
<AuthorizeView>
    <NotAuthorized>
        <p>
            You haven't logged in yet!<br/>
            Would you like to <a href="../LoginUser">log in</a>?
        </p>
    </NotAuthorized>
    <Authorized>
        <div class="card">
            <div class="form-group field">
                <label>User name:</label>
                <input type="text" @bind="username" @bind:event="oninput"/>
                @if (!string.IsNullOrEmpty(resultMsg))
                {
                    <label style="color: @color">@resultMsg</label>
                }
            </div>
            <div class="form-group field">
                <label>Password:</label>
                <input type="text" @bind="password" @bind:event="oninput"/>
                @if (!string.IsNullOrEmpty(resultMsg))
                {
                    <label style="color: @color">@resultMsg</label>
                }
            </div>
            <div class="button-row">
                <button @onclick="Logout" disabled="@(string.IsNullOrEmpty(username))" class="acceptbtn">Logout</button>
                
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private string username = "";
    private string password = "";
    private string resultMsg = "";
    private string color = "";
    
    private async Task Logout()
    {
        resultMsg = "";

        try
        {
            await _authManager.LogoutAsync(username, password);
            username = "";
            resultMsg = "User successfully logged out";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
}